<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DTDoAn" connectionString="data source=103.95.197.121,9696;initial catalog=MVH_02;persist security info=True;user id=DACNPM;password=khoa19@itf;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>